.error { color: red; }
.font-heavy { font-weight: 700; }
.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.hidden { display: none; }
body {
  background-color: rgb(255, 255, 255);
}
.hero {
  background: linear-gradient(114.95deg, #f77199 30.38%, #f5b3e4 120.55%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  padding: 8px 0 96px 0;
}
.hero .hero__primary {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 72px;
  margin-bottom: 0px;
}
.hero .hero__secondary {
  color: #ffffff;
  opacity: 0.6;
}
.hero label {
  color: #000000;
  position: absolute;
  height: 40px;
  padding-top: 12px;
  padding-left: 11px;
}

.hero input[type=text] {
  border-radius: 6px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 78px;
  width: 72%;
}
.hero input[type=search] {
  border-radius: 6px;
  margin-left: 65%;
}
.hero button {
  background-color: rgb(233, 87, 160);
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  padding: 8px;
}
