html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  color: #333447;
  line-height: 1.5;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }
p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.8;
}

ol {
  list-style: decimal-leading-zero;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin-left: -15px;
}

.image {
  width: 100%;
  border-radius: 10%;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-heavy { font-weight: 700; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify { text-align: justify; }

.block { display: block; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  width: 96%;
}

@media only screen and (min-width: 33.75em) { .container { width: 80%; } }
@media only screen and (min-width: 45em) {
  .column-1 { width: 4.33%; }
  .column-2 { width: 12.66%; }
  .column-3 { width: 21%; }
  .column-4 { width: 29.33%; }
  .column-5 { width: 37.66%; }
  .column-6 { width: 46%; }
  .column-7 { width: 54.33%; }
  .column-8 { width: 62.66%; }
  .column-9 { width: 71%; }
  .column-10 { width: 79.33%; }
  .column-11 { width: 87.66%; }
  .column-12 { width: 96%; }
}
@media only screen and (min-width: 60em) { .container { width: 75%; max-width: 60rem; } }

.hero {
  background: linear-gradient(114.95deg, #24292E 30.38%, #781084 120.55%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  padding: 8px 0 96px 0;
}
.hero .hero__calloutPrimary {
  color: white;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 72px;
  margin-bottom: 0px;
}
.hero .hero__calloutSecondary {
  color: #FFFFFF;
  opacity: 0.6;
}
.hero label {
  color: #FFFFFF;
  top: 10px;
  left: 20px;
}
.hero input[type=text] {
  width: 72%;
  height: 40px;
}
.hero button {
  height: 40px;
  padding: 8px;
}
span.error {
  color: red;
}
