{{ define "sparkles/index.tmpl" }}
  <div class="row">
    <div class="column-12">
      {{ if eq (len .sparkles) 0 }}
        <h3 class="text-center">No sparkles yet</h3>
      {{ else }}
        <h3 class="text-center">Recent sparkles</h3>
      {{end}}
    </div>
  </div>

  {{ range $sparkle := .sparkles }}
    <div class="row">
      <div class="column-12">
        <p class="text-center"><span class="font-heavy">{{ .Sparklee }}</span> {{ .Reason }}</p>
      </div>
    </div>
  {{ end }}
{{end}}
